*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}




.content-text p {
    font-size: 20px;
    margin-top: 10%;
    margin-left: 5%;
    font-family: Arial;
    font-size: 15px;        
}

.content-text h1 {
    font-size: 30px;
    margin-left: 5%;
    color: #AFA800;
    font-weight: normal;
}

.content-text h2 {
    font-size: 15px;
    margin-left: 5%;
    text-align: justify;
    font-family: Arial;
    font-weight: normal;
    color: black;
}

.cont img {
    width: 250px;
    margin-left: 12%;
    margin-top: 5%;
}

.content img {
    width: 200px;
    margin-top: -100%;
    margin-bottom: 5%;
    margin-left: 13%;
}

.content h1 {
    font-size: 25px;
    font-weight: normal;
    margin-left: 18%;
    margin-top: -6%;
}

.coust img {
    width: 250px;
    margin-left: 40%;
    margin-top: -21%;
    margin-bottom: 1.2%;
}

.iron img {
    width: 270px;
    margin-left: 39%;
    margin-top: -20%;
    margin-bottom: 7%;
}

.iron h1 {
    font-size: 25px;
    font-weight: normal;
    margin-left: 45%;
    margin-top: -8%;
}

.cort img {
    width: 270px;
    margin-left: 70%;
    margin-top: -40%;
    margin-bottom: 2.2%;
}

.teaplan img {
    width: 270px;
    margin-left: 70%;
    margin-top: -20%;
    margin-bottom: 8%;
}

.teaplan h1 {
    font-size: 20px;
    font-weight: normal;
    margin-left: 72%;
    margin-top: -8%;
}

.footer {
    background-color: black;
    padding: 55px;
    
}

.social-links img {
    width: 45px;
    position: absolute;
    margin-top: -0.5%;
    margin-left: -1.7%;
  }
  
  .facebook img {
    width: 35px;
    margin-left: -1.2%;
  }
  
  .tiktok img {
    width: 40px;
    margin-top: -0.7%;
    margin-left: -1.5%;
  }

.footer h1 {
    color: white;
    font-size: 25px;
    font-weight: normal;
    margin-top: -3%;
}

.footer h2 {
    color: white;
    font-size: 10px;
}

.footer img {
    width: 25px;
    margin-top: 1%
}

.footer h3 {
    color: yellow;
    font-size: 12px;
    margin-left: 20%;
    margin-top: -6%;
    font-family: Arial;
    font-weight: normal;
}

.footer h4 {
    color: white;
    margin-left: 20%;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
}

.footer h5 {
    color: yellow;
    margin-left: 20%;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
}

.footer h6 {
    color: white;
    margin-left: 20%;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
}

.text-content h1 {
    color: #FBF100;
    margin-left: 20%;
    margin-top: 0%;
    font-size: 12px;
    font-family: Arial;
    font-weight: normal;
}

.text-content h2 {
    color: white;
    margin-left: 20%;
    margin-top: -1;
    font-size: 12px;
    font-family: Arial;
    font-weight: normal;
}

.text-content img {
    width: 60px;
    margin-left: 72%;
    margin-top: -15%;
    margin-bottom: 3%;
}

.cnsc img {
    width: 60px;
    margin-left: 78%;
    margin-top: -20%;
    margin-bottom: 5%;
}

.cnsc h1 {
    color: white;
    margin-left: 72%;
    margin-top: -4%;
    margin-bottom: 3%;
    font-size: 8px;
    font-family: Arial;
}

.container-right h1 {
    font-weight: normal;
    margin-top: -6%
}

