*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.header img{
    width: 40px;
    margin-left: -40px;
}

.content-text p {
    font-size: 20px;
    margin-top: 9%;
    margin-left: 5%;
    font-family: Arial;
    font-size: 15px;        
}

.content-text h1 {
    font-size: 30px;
    margin-left: 5%;
    color: #AFA800;
    font-weight: normal;
}

.content-text h2 {
    width: 680px;
    font-size: 15px;
    margin-left: 5%;
    text-align: justify;
    font-family: Arial;
    font-weight: normal;
    color: black;
    padding-bottom: 80px;
}

.contento img {
    width: 390px;
    margin-left: 65%;
    margin-top: -49%;
    position: absolute;
}

.footerss {
    background-color: black;
    width: 100%;
    padding: 40px;
    margin-top: 6%;
}

.text1 h1 {
    font-size: 18px;
    color: white;
    margin-top: -5%;
    margin-left: 3%;
}

.text1 h2 {
    font-size: 12px;
    color: white;
    margin-top: -0%;
    margin-left: 3%;
    font-family: Arial;
    font-weight: normal;
}

.yt img {
    width: 40px;
    margin-left: 3%;
}

.ig img {
    position: absolute;
    width: 30px;
    margin-left: 6%;
    margin-top: -2.2%;
}

.tiktok img {
    width: 30px;
    position: absolute;
    margin-top: -2.2%;
    margin-left: 8.4%;
}

.artifacts-text h1 {
    color: yellow;
    font-family: Arial;
    margin-left: 20%;
    font-size: 10px;
    font-weight: normal;
    margin-top: -4.2%;
}

.artifacts-text h2 {
    color: white;
    font-family: Arial;
    margin-left: 23%;
    font-size: 10px;
    font-weight: normal;
    margin-top: -0.7%;
}

.artifacts-text h3 {
    color: yellow;
    font-family: Arial;
    margin-left: 20%;
    font-size: 10px;
    font-weight: normal;
    margin-top: -0%;
}

.artifacts-text h4 {
    color: white;
    font-family: Arial;
    margin-left: 23%;
    font-size: 10px;
    font-weight: normal;
    margin-top: -0.7%;
}

.artifacts-text h5 {
    color: yellow;
    font-family: Arial;
    margin-left: 20%;
    font-size: 10px;
    font-weight: normal;
    margin-top: -0%;
}

.artifacts-text h6 {
    color: white;
    font-family: Arial;
    margin-left: 23%;
    font-size: 10px;
    font-weight: normal;
    margin-top: -0.7%;
}

.artitext h1 {
    color: yellow;
    font-family: Arial;
    margin-left: 20%;
    font-size: 10px;
    font-weight: normal;
    margin-top: -0%;
}

.artitext h2 {
    color: white;
    font-family: Arial;
    margin-left: 26%;
    font-size: 10px;
    font-weight: normal;
    margin-top: -0.7%;
}

.logs img {
    width: 50px;
    position: absolute;
    margin-left: 75%;
    margin-top: -5%;
}

.cn img {
    width: 50px;
    position: absolute;
    margin-left: 79%;
    margin-top: -4%;
}

.cn h1 {
    color: white;
    font-family: Arial;
    margin-left: 72%;
    font-size: 10px;
    font-weight: normal;
    margin-top: -1%;
}

.social-links img {
    width: 45px;
    position: absolute;
    margin-top: -0.5%;
    margin-left: -1.7%;
  }
  
  .facebook img {
    width: 35px;
    margin-left: -1.2%;
  }
  
  .tiktok img {
    width: 40px;
    margin-top: -0.7%;
    margin-left: -1.5%;
  }

  .container-right h1 {
    font-weight: normal;
    margin-top: -5%;
  }