*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: black;
    opacity: 76%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header a {
    margin-left: -48%;
}

.header nav a {
    font-family: Arial;
    font-size: 15px;
   
}
.logo{
    font-size: 18px;
    margin-left: -47%;
    color: white;
    text-decoration: none;

}


.navbar a {
    position: relative;
    font-size: 12px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;

}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2%;
    background: #FBF100;
    
    transition: .3s;

}

.navbar a:hover::before {
    width: 100%;
    background-color: #FBF100;

}

.navbar.a:hover{
    background-color: #FBF100;

}

.header img{
    width: 40px;
    margin-left: -40px;
}

.content-text p {
    font-size: 20px;
    margin-top: 10%;
    margin-left: 5%;
    font-family: Arial;
    font-size: 15px;        
}

.content-text h1 {
    font-size: 30px;
    margin-left: 5%;
    color: #AFA800;
    font-weight: normal;
}

.content-text h2 {
    font-size: 15px;
    margin-left: 5%;
    text-align: justify;
    font-family: Arial;
    font-weight: normal;
    color: black;
}

.contento img {
    width: 300px;
    margin-left: 74%;
    margin-top: -30%;
}

.footerss {
    background-color: black;
    width: 100%;
    padding: 50px;
    margin-top: 7%;
}

.text1 h1 {
    font-size: 18px;
    color: white;
    margin-top: -7%;
    margin-left: 3%;
}

.text1 h2 {
    font-size: 12px;
    color: white;
    margin-top: -0%;
    margin-left: 3%;
    font-family: Arial;
    font-weight: normal;
}

.yt img {
    width: 40px;
    margin-left: 3%;
}

.ig img {
    position: absolute;
    width: 30px;
    margin-left: 6%;
    margin-top: -2.5%;
}

.tiktok img {
    width: 30px;
    position: absolute;
    margin-top: -2.6%;
    margin-left: 8.4%;
}

.artifacts-text h1 {
    color: yellow;
    font-family: Arial;
    margin-left: 20%;
    font-size: 10px;
    font-weight: normal;
    margin-top: -5%;
}

.artifacts-text h2 {
    color: white;
    font-family: Arial;
    margin-left: 23%;
    font-size: 10px;
    font-weight: normal;
    margin-top: -0.7%;
}

.artifacts-text h3 {
    color: yellow;
    font-family: Arial;
    margin-left: 20%;
    font-size: 10px;
    font-weight: normal;
    margin-top: -0%;
}

.artifacts-text h4 {
    color: white;
    font-family: Arial;
    margin-left: 23%;
    font-size: 10px;
    font-weight: normal;
    margin-top: -0.7%;
}

.artifacts-text h5 {
    color: yellow;
    font-family: Arial;
    margin-left: 20%;
    font-size: 10px;
    font-weight: normal;
    margin-top: -0%;
}

.artifacts-text h6 {
    color: white;
    font-family: Arial;
    margin-left: 23%;
    font-size: 10px;
    font-weight: normal;
    margin-top: -0.7%;
}

.artitext h1 {
    color: yellow;
    font-family: Arial;
    margin-left: 20%;
    font-size: 10px;
    font-weight: normal;
    margin-top: -0%;
}

.artitext h2 {
    color: white;
    font-family: Arial;
    margin-left: 26%;
    font-size: 10px;
    font-weight: normal;
    margin-top: -0.7%;
}

.logs img {
    width: 50px;
    position: absolute;
    margin-left: 75%;
    margin-top: -4%;
}

.cn img {
    width: 50px;
    position: absolute;
    margin-left: 79%;
    margin-top: -4%;
}

.cn h1 {
    color: white;
    font-family: Arial;
    margin-left: 72%;
    font-size: 10px;
    font-weight: normal;
    margin-top: -0%;
}