*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

.heroes-content .filter {
    background-color: #ffffff;
    padding: 10px;
    top: 273px;
    text-align: center;
}

.heroes-content .filter p {
    display: inline-block;
    margin: 5px;
    color: #333;
    cursor: pointer;
    padding: 10px;
    font-weight: bolder;
}

.heroes-content .filter p:hover {
    background-color: #fff700;
    padding: 10px;
    border-radius: 10px; /* Change to your desired hover color */
}

/* Additional styles for specific classes inside .filter */
.heroes-content .filter p.all {
    color: #333;
}

.heroes-content .filter p.local {
    color: #333;
}

.heroes-content .filter p.national {
    color: #333;
}



.images img.img1 {
    width: 323px;
    height: 323px;
    position: relative;
    top: 5px;
    left: 10%;
}

.images img.img2 {
    width: 312px;
    height: 445px;
    position: relative;
    top: -415px;
    left: 38%;
}

.images img.img3 {
    width: 300px;
    height: 374px;
    position: relative;
    top: -451px;
    left: 40.5%;
}


.images img.img4 {
    width: 267px;
    height: 385px;
    position: relative;
    top: -91px;
    left: -37%;
}

.images img.img5 {
    width: 339px;
    height: 257px;
    position: relative;
    top: -28px;
    left: -34.5%;
}

.images img.img6 {
    width: 305px;
    height: 340px;
    position: relative;
    margin-top: -610px;

    left: 65%;
}


.heroes-content p {
    font-size: 20px;
    margin-top: 10%;
    margin-left: 5%;
    font-family: Arial;
    font-size: 15px;        
}

.heroes-content h1 {
    font-size: 30px;
    margin-left: 5%;
    color: #AFA800;
    font-weight: normal;
}

.heroes-content .f


.yt img {
    width: 40px;
    margin-left: 3%;
}

.ig img {
    position: absolute;
    width: 30px;
    margin-left: 6%;
    margin-top: -2.5%;
}

.tiktok img {
    width: 30px;
    position: absolute;
    margin-top: -2.6%;
    margin-left: 8.4%;
}

.artifacts-text h1 {
    color: yellow;
    font-family: Arial;
    margin-left: 20%;
    font-size: 10px;
    font-weight: normal;
    margin-top: -5%;
}

.artifacts-text h2 {
    color: white;
    font-family: Arial;
    margin-left: 23%;
    font-size: 10px;
    font-weight: normal;
    margin-top: -0.7%;
}

.artifacts-text h3 {
    color: yellow;
    font-family: Arial;
    margin-left: 20%;
    font-size: 10px;
    font-weight: normal;
    margin-top: -0%;
}

.artifacts-text h4 {
    color: white;
    font-family: Arial;
    margin-left: 23%;
    font-size: 10px;
    font-weight: normal;
    margin-top: -0.7%;
}

.artifacts-text h5 {
    color: yellow;
    font-family: Arial;
    margin-left: 20%;
    font-size: 10px;
    font-weight: normal;
    margin-top: -0%;
}

.artifacts-text h6 {
    color: white;
    font-family: Arial;
    margin-left: 23%;
    font-size: 10px;
    font-weight: normal;
    margin-top: -0.7%;
}

.artitext h1 {
    color: yellow;
    font-family: Arial;
    margin-left: 20%;
    font-size: 10px;
    font-weight: normal;
    margin-top: -0%;
}

.artitext h2 {
    color: white;
    font-family: Arial;
    margin-left: 26%;
    font-size: 10px;
    font-weight: normal;
    margin-top: -0.7%;
}

.logs img {
    width: 50px;
    position: absolute;
    margin-left: 75%;
    margin-top: -4%;
}

.cn img {
    width: 50px;
    position: absolute;
    margin-left: 79%;
    margin-top: -4%;
}

.cn h1 {
    color: white;
    font-family: Arial;
    margin-left: 72%;
    font-size: 10px;
    font-weight: normal;
    margin-top: -0%;
}

.social-links img {
    width: 45px;
    position: absolute;
    margin-top: -0.5%;
    margin-left: -1.7%;
  }
  
  .facebook img {
    width: 35px;
    margin-left: -1.2%;
  }
  
  .tiktok img {
    width: 40px;
    margin-top: -0.7%;
    margin-left: -1.5%;
  }

  .container-right h1 {
    font-weight: normal;
    margin-top: -5%;
  }


