*{
   
    padding: 0;
    box-sizing: border-box;

}


.header{
    position: fixed;

    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: black;
    opacity: 76%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 74px;
    z-index: 100;
}


.titles{
    position: fixed;
    font-size: 18px;
    margin-left: 1%;
    color: white;
    text-decoration: none;

}



.navbar a {
    position: relative;
    font-size: 13px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    font-family: Arial;

}

.ty h1 {
    color: black;
    font-family: Arial;
    font-weight: normal;
    margin-left: 80%;
    position: absolute;
    font-size: 15px;
    margin-top: -5.5%;
}

.ty h1:hover {
    color: yellow;
}

.ty h2 {
    color: black;
    font-family: Arial;
    font-weight: normal;
    margin-left: 84%;
    position: absolute;
    font-size: 15px;
    margin-top: -5.5%;
}

.ty h2:hover {
    color: yellow;
}
.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2%;
    background: #FBF100;
    
    transition: .3s;

}

.navbar a:hover::before {
    width: 100%;
    background-color: #FBF100;

}

.navbar.a:hover{
    background-color: #FBF100;

}

.header img{
    width: 40px;
    margin-left: -40px;
}

.border {
    background-color: #D9D9D9;
    width: 99%;
    padding: 35px;
    margin-top: -7.9%;
    position: absolute;
}

.wety h1 {
    color: black;
    font-family: Arial;
    font-size: 20px;
    margin-left: 3%;
    margin-top: -6%;
    position: absolute;
}

.content h1{
    margin-top: 180px;
    font-size: 30px;
    color: #1E1E1E;
    margin-left: 71px;
}

.content p{
    font-family: Arial, Helvetica, sans-serif;
    width: 550px;
    height: 357px;
    margin-left: 71px;
    margin-right: 650px;
    text-align: justify;
    

}

.content img{
    width: 500px;
    height: 620px;
    margin-top: -34%;
    margin-left: 50%;
}


.content2 img{
    margin-top: -1200px;
    margin-left: 71px;
    width: 550px;
    height: 600%;
}

.content2 p{
   width: 500px;
    margin-left: 50%;
    margin-top: 200px;
    text-align: justify;
    font-family: Arial;
}


.content3 p{
    font-family: Arial;
    width: 550px;
    height: 357px;
    margin-left: 5%;
    margin-right: 650px;
    margin-top: 100px;
    text-align: justify;

}

.content3 img{

    margin-left: 50%;
    margin-top: -27%;
    position: absolute;
    width: 500px;
    height: 300px;
}

.footer {
    background-color: black;
    width: 100%;
    padding: 50px;
    margin-top: 5%;
}

.fontex p {
    color: white;
    font-size: 18px;
    margin-top: -7%;
    margin-left: 5%;
}

.fontex h1 {
    font-size: 12px;
    color: white;
    margin-top: -1%;
    margin-left: 5%;
    font-family: Arial;
    font-weight: normal;
}

.yt img {
    width: 40px;
    margin-left: 5%;
    margin-top: -0.5%;
}

.ig img {
    width: 30px;
    position: absolute;
    margin-top: -2.5%;
    margin-left: 8%;
}

.tiktok img {
    width: 32px;
    position: absolute;
    margin-top: -2.6%;
    margin-left: 10%;
}

.artinfo p {
    font-family: Arial;
    font-size: 12px;
    margin-left: 30%;
    margin-top: -5.5%;
    color: yellow;
}

.artinfo h1 {
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    margin-left: 34%;
    margin-top: -1.9%;
    color: white;
}

.artinfo h2 {
    font-family: Arial;
    font-size: 12px;
    margin-left: 30%;
    margin-top: -0.5%;
    color: yellow;
    font-weight: normal;
}

.artinfo h3 {
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    margin-left: 34%;
    margin-top: -1.7%;
    color: white;
}

.artinfo h4 {
    font-family: Arial;
    font-size: 12px;
    margin-left: 30%;
    margin-top: -1%;
    color: yellow;
    font-weight: normal;
}

.artinfo h5 {
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    margin-left: 34%;
    margin-top: -2.1%;
    color: white;
}

.artinfo h6 {
    font-family: Arial;
    font-size: 12px;
    margin-left: 30%;
    margin-top: -1.5%;
    color: yellow;
    font-weight: normal;
}

.info p {
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    margin-left: 38%;
    margin-top: -3.1%;
    color: white;
}

.artimage img {
    width: 60px;
    position: absolute;
    margin-left: 70%;
    margin-top: -6%;
}

.articn img {
    width: 60px;
    position: absolute;
    margin-left: 75%;
    margin-top: -6%;
}

.ttext p {
    font-family: Arial;
    color: white;
    margin-left: 69%;
    margin-top: -1%;
    font-size: 9px;
}



