*{
   
    padding: 0;
    box-sizing: border-box;

}


.header{
    position: fixed;

    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: black;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 74px;
    z-index: 100;
}


.titles{
    position: fixed;
    font-size: 18px;
    margin-left: 1%;
    color: white;
    text-decoration: none;

}



.navbar a {
    position: relative;
    font-size: 13px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    font-family: Arial;

}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2%;
    background: #FBF100;
    
    transition: .3s;

}

.navbar a:hover::before {
    width: 100%;
    background-color: #FBF100;

}

.navbar.a:hover{
    background-color: #FBF100;

}

.header img{
    width: 40px;
    margin-left: -40px;
}

.content h1{
    margin-top: 180px;
    font-size: 30px;
    color: #1E1E1E;
    margin-left: 71px;
}

.content p{
    font-family: Arial, Helvetica, sans-serif;
    width: 550px;
    height: 357px;
    margin-left: 71px;
    margin-right: 650px;
    text-align: justify;

}

.content img{
    width: 500px;
    height: 450px;
    margin-top: -400px;
    margin-left: 690px;
}


.content2 img{
    margin-top: 130px;
    margin-left: 71px;
    width: 550px;
    height: 400px;
}

.content2 p{
   width: 500px;
    margin-left: 690px;
    margin-top: -410px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serifs;
}


.content3 .para1{
    font-family: Arial, Helvetica, sans-serif;
    width: 550px;
    height: 357px;
    margin-left: 71px;
    margin-right: 650px;
    margin-top: 200px;
    text-align: justify;
    padding-bottom: 40%;

}

.content3 img{

    margin-left: 690px;
    margin-top: -100%;
    width: 500px;
    height: 450px;
    margin-bottom: 130px;
}

.foot {
    background-color: black;
    width: 100%;
    padding: 50px;
    margin-top: 7%;
}
 
.fontext p {
    font-family: Arial;
    font-weight: normal;
    color: black;
    margin-top: 10%;
    margin-left: 5%;
    font-size: 10px;
}

.fontext h1 {
    color: #AFA800;
    font-size: 25px;
    margin-top: 0%;
    margin-left: 5%;
    font-weight: normal;
}

.fontext nav {
    text-align: center;
    margin-top: 2%;
}

.fontext nav a {
    position: relative;
    color: black;
    font-family: Arial;
    justify-content: center;
    padding: 0 2rem;
    align-items: center;
    transition: 0.5 ease;
    border: 1px solid transparent;
}

.fontext nav a:hover {
    background-color: yellow;
    color: black;
    cursor: pointer;
}

.images img {
    width: 300px;
    position: absolute;
    margin-left: 5%;
    margin-top: 3%;
}

.images1 img {
    width: 210px;
    position: absolute;
    margin-left: 28%;
    margin-top: 3%;
}

.images2 img {
    width: 240px;
    position: absolute;
    margin-left: 45%;
    margin-top: 3%;
}

.images3 img {
    width: 210px;
    position: absolute;
    margin-left: 65%;
    margin-top: 3%;
}

.images4 img {
    height: 41%;
    width: 230px;
    position: absolute;
    margin-left: 82%;
    margin-top: 3%;
}

.images5 img {
    width: 300px;
    position: absolute;
    margin-left: 42%;
    margin-top: 25%;
}

.footer {
    background-color: black;
    width: 100%;
    padding: 50px;
    margin-top: 44%;
}

.fontex p {
    color: white;
    font-size: 15px;
    margin-top: -7%;
    margin-left: 5%;
}

.fontex h1 {
    font-size: 10px;
    color: white;
    margin-top: -1%;
    margin-left: 5%;
    font-family: Arial;
    font-weight: normal;
}

.yt img {
    width: 40px;
    margin-left: 5%;
    margin-top: 0.1%;
    position: absolute;
}

.ig img {
    width: 30px;
    position: absolute;
    margin-top: -0%;
    margin-left: 8%;
}

.tiktok img {
    width: 30px;
    position: absolute;
    margin-top: -0%;
    margin-left: 10%;
}

.artinfo p {
    font-family: Arial;
    font-size: 10px;
    margin-left: 30%;
    margin-top: -2%;
    color: yellow;
}

.artinfo h1 {
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    margin-left: 34%;
    margin-top: -1.7%;
    color: white;
}

.artinfo h2 {
    font-family: Arial;
    font-size: 10px;
    margin-left: 30%;
    margin-top: 0.2%;
    color: yellow;
    font-weight: normal;
}

.artinfo h3 {
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    margin-left: 34%;
    margin-top: -1.5%;
    color: white;
}

.artinfo h4 {
    font-family: Arial;
    font-size: 10px;
    margin-left: 30%;
    margin-top: -0.5%;
    color: yellow;
    font-weight: normal;
}

.artinfo h5 {
    font-family: Arial;
    font-size: 10px;
    font-weight: normal;
    margin-left: 34%;
    margin-top: -1.8%;
    color: white;
}

.artinfo h6 {
    font-family: Arial;
    font-size: 10px;
    margin-left: 30%;
    margin-top: -1%;
    color: yellow;
    font-weight: normal;
}

.info p {
    font-family: Arial;
    font-size: 10px;
    font-weight: normal;
    margin-left: 37%;
    margin-top: -2.4%;
    color: white;
}

.artimage img {
    width: 40px;
    position: absolute;
    margin-left: 72%;
    margin-top: -5.7%;
}

.articn img {
    width: 40px;
    position: absolute;
    margin-left: 76%;
    margin-top: -5.7%;
}

.ttext p {
    font-family: Arial;
    color: white;
    margin-left: 69%;
    margin-top: -2%;
    font-size: 9px;
}

.social-links img {
    width: 45px;
    position: absolute;
    margin-top: -0.5%;
    margin-left: -1.7%;
  }
  
  .facebook img {
    width: 35px;
    margin-left: -1.2%;
  }
  
  .tiktok img {
    width: 40px;
    margin-top: -0.7%;
    margin-left: -1.5%;
  }

  .container-right h1 {
    font-weight: normal;
    margin-top: -5%;
  }

  